<h2> Create Account </h2>

<div class="form">
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.text_field :display_name, autocomplete: "off", autofocus: true, :placeholder => "Minimum: 4 characters" %>
    </div>

    <div class="field">
      <%= f.text_field :username, :placeholder => "Minimum: 4 characters" %>
    </div>

    <div class="field">
      <%= f.email_field :email, :placeholder => "example@example.com", :label => "Email (optional)" %>
      <small class="text-muted"> Only necessary for account password recovery in case of a forgotten password. <strong> You will not recieve any emails. </strong> </small>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", :placeholder => "Minimum: " + @minimum_password_length.to_s + " characters" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", :class => "btn btn-success" %>
    </div>
  <% end %>

<br>
  <%= render "devise/shared/links" %>
</div>
