<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>

    <h3> User Details: </h3>

    <% if @user.nil? %>
      <p> <strong> User was not signed in. </strong> <p>
      <p> Provided Email: <%= @message.user_email %> </p>
    <% else %>
      <p> Display Name: <%= @user.display_name %> </p>
      <p> Username: <%= @user.username %> </p>
      <p> Email: <%= @message.user_email %> </p>
    <% end %>

    <h3> User Message: </h3>
    <%= @message.body %>

  </body>
</html>