<div class="container-fluid content">

	<%- if user_signed_in? %>

		<%= bootstrap_form_for([@article, @comment]) do |f| %>

			<p class="comment-field">
				<%= f.text_field :body, :label => 'Leave a Comment:' %>
			</p>
			
			<p>
				<%= f.submit :class => "btn btn-success"%>
			</p> 

		<% end %>

	<% else %>

		<div class="alert alert-warning">
			<%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'create account', new_user_registration_path %> to comment. No personal information required.
		</div>
		
	<% end %>


	<% @article.comments.each do |comment| %>
		<hr>

		<div class="container-fluid comment-section" style="border-left: solid 1px; border-radius: 0;">
			<% if User.find_by(:id => comment.user_id).try(:admin?) %>
				<p style="margin-bottom: 2px;"> <strong> <%= comment.commenter %> </strong> (Admin) <small class="timestamp"> <%= @article.updated_at.to_date.strftime("%v") %> </small></p>
			<% else %>
				<p style="margin-bottom: 2px;"> <strong> <%= comment.commenter %> </strong> <small class="timestamp"> <%= @article.updated_at.to_date.strftime("%v") %> </small></p>
			<% end %>
			<p style="margin: 0;"> 
				<%= comment.body %> 
				<% if user_signed_in? and comment.user_id == current_user.id %> 
					<%= link_to '', [comment.article, comment], method: :delete, :id => "delete-comment", :class => 'glyphicon glyphicon glyphicon-remove' %>
				<% end %>
			</p>
		</div>
	<% end %>

</div>