<div class="form">

	<%= bootstrap_form_for @article do |f| %>
		<p>
			<%= f.text_field :title, placeholder: "Minimum: 2 characters" %>
		</p>

		<p>
			<%= f.text_area :text, :class => "tinymce", :rows => 40, placeholder: "Minimum: 140 characters" %>
		</p>

		<p>
			<%= f.submit 'Update', :class => 'btn btn-success', :id => 'save-article' %>
			<%= yield :publish_button %>
			<%= yield :delete_button %>
		</p>
	<% end %>

	<%= tinymce %>

</div>