<%= content_for :back_button do %>
	<%= link_to '', articles_path, :class => "btn btn-default glyphicon glyphicon-arrow-left", :id => "back-button" %>
<% end %>

<% content_for :publish_button do %>
	<%= link_to 'Publish', article_path(@article), method: :publish, :class => 'btn btn-warning' %>
<% end %>

<% content_for :delete_button do %>
	<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure you want to delete this article?' }, :class => 'btn btn-danger article-action' %>
<% end %>

<hr>
<div class="content">
	<% if not @photo.nil? %>
		<h4>Currently Attached Image</h4>
		<div class="center"><%= image_tag(@photo.image, :size => "260x180") %></div>
	<% end %>
</div>

<%= render 'photos/photo' %>
<hr>
<%= render 'articles/form' %>