<%= content_for :back_button do %>
	<%= link_to '', articles_path, :class => "btn btn-default glyphicon glyphicon-arrow-left", :id => "back-button" %>
<% end %>

<% if @article.published == false and not @article.photo_uid.nil? %>
	<% content_for :publish_button do %>
		<% if not @article.photo_uid.nil? %>
			<%= link_to 'Publish', article_publish_path(@article, :publish => true), :controller => :articles, :action => :publish, :method => :patch, :class => 'btn btn-warning' %>
		<% else %>
			<%= link_to 'Publish', article_publish_path(@article, :publish => true), :controller => :articles, :action => :publish, :method => :patch, :class => 'btn btn-warning disabled' %>
		<% end %>
	<% end %>
<% else %>
	<% content_for :publish_button do %>
		<%= link_to 'Unpublish', article_publish_path(@article, :publish => false), :controller => :articles, :action => :publish, :method => :patch, :class => 'btn btn-warning' %>
	<% end %>
<% end %>

<% content_for :delete_button do %>
	<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure you want to delete this article?' }, :class => 'btn btn-danger article-action' %>
<% end %>

<br>
<hr>
<div class="content">
	<% if not @photo.nil? %>
		<h4>Currently Attached Image</h4>

		<div class="center container-fluid photo-area">
			<div class="image-box">
				<%= link_to '', remove_from_article_photos_path(:id => @photo.id, :article_id => @article.id), :controller => :photos, :action => :remove_form_article, :method => :patch, :class => 'glyphicon glyphicon-minus btn btn-default', :id => 'add-image-btn' %>
				<%= image_tag(@photo.image, :size => "260x180") %>
			</div>
		</div>
	<% end %>
</div>

<br>

<%= render 'photos/photo' %>
<hr>
<%= render 'articles/form' %>