<% if @articles.count == 0 %>
	<p> <em> Sorry, it doesn't look like there are any articles here </em></p>
<% end %>

<% @articles.each_with_index do |article, index| %>

	<% if not article.photo_uid.nil? and article.published == true %>

		<% if index % 3 == 0 %>
			<div class="col-md-12">
		<% end %>
	
		<div class="col-md-3 box">
			<%= link_to article_path(article) do %>
				<div class="box-header">
					<h4 class="box-header-title"> <%= article.title %> </h4>
				</div>
				<%= image_tag(@photos.find_by(:id => article.photo_uid).image_url, :size => "300x150") %> 
			<% end %>
		</div>

		<% if index % 3 == 2 or index == @articles.length - 1 %>
			</div>
		<% end %>

	<% end %>

<% end %>

<% if current_user.try(:admin?) %>
	<%= content_for :plus_button do %>
		<%= link_to '', new_article_path, :class => "btn btn-default glyphicon glyphicon-plus", :id => "plus-button" %>
	<% end %>

	<hr>

	<h2>Unpublished</h2>

	<% if @unpublished.count == 0 %>
		<p> <em> There are no unpublished articles </em></p>
	<% else %>

		<% @unpublished.each_with_index do |article, index| %>
			<%= link_to article.title, article_path(article) %><br>
		<% end %>

	<% end %>

<% end %>