<% if current_user.try(:admin?) %>
	<%= content_for :plus_button do %>
		<%= link_to '', new_article_path, :class => "btn btn-default glyphicon glyphicon-plus", :id => "plus-button" %>
	<% end %>
<% end %>

<% if @articles.count == 0 %>
	<p> <em> Sorry, it doesn't look like there are any articles here </em></p>
<% end %>

<% if current_user.try(:admin) %>

	<% @articles.each do |article| %>
		<% if article.published != true or article.photo_uid.nil? %>
			<%= link_to article_path(article) do %>
				<h4> Private: <%= article.title %> <h4>
			<% end %>
		<% end %>
	<% end %>

<% end %>

<% @articles.each_with_index do |article, index| %>

	<% if not article.photo_uid.nil? and article.published == true %>
		<% if index % 3 == 0 %>
			<div class="row">
		<% end %>
	
		<%= link_to article_path(article) do %>
			<div class="col-sm-4 box">
				<div class="box-header">
					<h4 class="box-header-title"> <%= article.title %> </h4>
				</div>
				<%= image_tag(@photos.find_by(:id => article.photo_uid).image, :size => "300x150") %> 
			</div>
		<% end %>

		<% if index % 3 == 2 %>
			</div>
		<% end %>
	<% end %>

<% end %>

