<% if current_user.try(:admin?) %>
	<%= content_for :plus_button do %>
		<%= link_to '', new_article_path, :class => "btn btn-default glyphicon glyphicon-plus", :id => "plus-button" %>
	<% end %>
<% end %>

<% if @articles.count == 0 %>
	<p> <em> Sorry, it doesn't look like there are any articles here </em></p>
<% end %>

<% @articles.each do |article| %>
	
	<hr>
	<div class="container-fluid article-info">

		<div class="content">
			<h3>
				<%= link_to article.title, article_path(article), :class => "article-title" %>
				<small class="timestamp"> <%= article.updated_at.to_date.strftime("%v") %> | <%= article.comments.count %> comments  </small>
			</h3>
			<div class="article-body"> <%= raw(article.text) %> </div>
		</div>

	</div>

<% end %>

