<%= link_to '', new_article_path, :class => "btn btn-default glyphicon glyphicon-plus", :id => "plus-button" %>

<h2> Articles </h2>

<% @articles.each do |article| %>

	<div class="container-fluid article-info">

		<div class="col-sm-1 descriptor">
			<h3> Title: </h3>
			<p> Text: </p>
		</div>

		<div class="col-sm-11 content article-body">
			<h3>
				<%= article.title %> 
			</h3>
			<p> 
				<%= article.text %> 
			</p>
		</div>

		<div>
			<%= link_to 'View', article_path(article), :class => "btn btn-info article-action"%>
			<%= link_to 'Edit', edit_article_path(article), :class => "btn btn-primary article-action", :style => "margin-left: 2px;"%>
		</div>

	</div>

	<hr> 

<% end %>

