<h2> New Article </h2>

<div class="form">

	<% if @article.errors.any? %>
		<div id="error-message" class="container-fluid"> 
			<strong> <%= pluralize(@article.errors.count, "error") %> encountered: Failed to create article. </strong> 
			<ul>
				<% @article.errors.full_messages.each do |message| %>
					<li> <%= message %> </li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= bootstrap_form_for :article, url: articles_path do |f| %>
		<p>
			<%= f.text_field :title, placeholder: "Minimum: 2 characters" %>
		</p>

		<p>
			<%= f.text_area :text, placeholder: "Minimum: 140 characters" %>
		</p>

		<p>
			<%= f.submit %>
		</p>
	<% end %>

</div>