
<%= content_for :back_button do %>
	<%= link_to '', articles_path, :class => "btn btn-default glyphicon glyphicon-arrow-left", :id => "back-button" %>
<% end %>

<div class="container-fluid full-article">
	<h1> <%= @article.title %> </h1>
	<small class=" center"> <%= @article.updated_at.to_date.strftime("%v") %> </small>
	
	<p> 
		<%= raw(@article.text) %> 
	</p>
</div>

<% if current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-primary article-action" %> 
	<br>
<% end %>

<hr>
<%= render 'comments/comments' %>