<%= link_to '', articles_path, :class => "btn btn-default glyphicon glyphicon-arrow-left", :id => "back-button" %>

<h2> View Article </h2>

<div class="col-sm-1 descriptor">
	<h3> Title: </h3>
	<p> Text: </p>
</div>

<div class="col-sm-11 content">
	<div class="container-fluid article-body">
		<h3>
			<%= @article.title %> 
		</h3>
		<p> 
			<%= @article.text %> 
		</p>
	</div>

	<%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-primary article-action" %>

</div>

<hr>

<div class="container-fluid content">

	<h4> Leave a Comment: </h4>

	<%= bootstrap_form_for([@article, @article.comments.build]) do |f| %>
		<p>
			<%= f.text_field :commenter %> 
		</p>

		<p>
			<%= f.text_area :body %>
		</p>
		
		<p>
			<%= f.submit :class => "btn btn-success"%>
		</p> 

	<% end %>

</div>

<div class="container-fluid content">

	<h4> Comments: <h4>

	<% @article.comments.each do |comment| %>
		<p> <strong> <%= comment.commenter %> </strong> </p>
		<p> <%= comment.body %> </p>
	<% end %>

</div>