<%= link_to '', articles_path, :class => "btn btn-default glyphicon glyphicon-arrow-left", :id => "back-button" %>

<h2> View Article </h2>

<div class="col-sm-1 descriptor">
	<h3> Title: </h3>
	<p> Text: </p>
</div>

<div class="col-sm-11 content">
	<div class="container-fluid article-body">
		<h3>
			<%= @article.title %> 
		</h3>
		<p> 
			<%= @article.text %> 
		</p>
	</div>
	<% if current_user.try(:admin?) %>
		<%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-primary article-action" %>
	<% else %>
		<br>
	<% end %>
</div>

<%= render 'comments/comments' %>