<%= link_to '', articles_path, :class => "btn btn-default glyphicon glyphicon-arrow-left", :id => "back-button" %>

<h2> View Article </h2>

<div class="container-fluid full-article">
	<h3>
		<%= @article.title %> 
		<small class="timestamp"> <%= @article.updated_at.to_date.strftime("%v") %> </small>
	</h3>
	<br>
	<p> 
		<%= @article.text %> 
	</p>
</div>
<% if current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-primary article-action" %>
<% else %>
	<br>
<% end %>

<%= render 'comments/comments' %>