<%= content_for :plus_button do %>
	<%= link_to '', new_photo_path, :class => "btn btn-default glyphicon glyphicon-plus", :id => "plus-button" %>
<% end %>


<div class="center container" style="margin-top: 20px;">

	<% if @photos.empty? %>
		<em> Sorry, it doesn't look like there are any images here. </em>
	<% else %>

		<% @photos.each_with_index do |photo, index| %>

			<% if index % 3 == 0 %>
				<div class="row center">
			<% end %>

			<div class="col-sm-4 center">
				<div class="photo-area center">

					<div class="image-box center"> 
						<% if not @active_ids.include? photo.id.to_s %>
							<%= link_to '', photo_path(photo), method: :delete, data: { confirm: 'Are you sure you want to delete this photo?' }, :class => 'glyphicon glyphicon-trash trash-icon btn btn-default' %>

							<%= link_to image_tag(photo.image_url, :size => "260x180"), photo.image_url, target: '_blank', :class => "img-responsive" %> 
						<% else %>
							<%= link_to image_tag(photo.image_url, :size => "260x180"), photo.image_url, target: '_blank', :title => "This photo is associated with an article", :class => "img-responsive" %> 
						<% end %>

					</div>
				</div>
			</div>

			<% if index % 3 == 2 or index == @photos.length - 1 %>
				</div>
			<% end %>

		<% end %>
	<% end %>

</div>
