<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Blog</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<%= javascript_include_tag "TrackballControls.js" %>
</head>

<body>

<nav class="navbar navbar-custom navbar-top">
	<div class="container-fluid">
		<div class="navbar-header">
		  <%= link_to '', welcome_index_path, :class => "navbar-brand glyphicon glyphicon-home" %>
		</div>
		<ul class="nav navbar-nav">
			<li> <%= link_to 'Blog', articles_path %> </li> 
			<li> <%= link_to 'Projects', static_pages_projects_path %> </li> 
			<li> <%= link_to 'About', static_pages_about_path %> </li> 

			<% if current_user.try(:admin?) %>
				<li> <%= link_to 'Images', photos_path %> </li> 
			<% end %>
		</ul>

		<%- if user_signed_in? %>
		  <a class="navbar-center"> Signed in as <strong> <%= current_user.display_name %>
			<% if current_user.try(:admin?) %>
				(Admin)
			<% end %>
			</strong>
		  </a>
		<% end %>


		<ul class="nav navbar-nav navbar-right">

			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accounts <span class="caret"></span></a>
				<ul class="dropdown-menu">
					
					<%- if not user_signed_in? %>
						<li> <%= link_to 'Log In', new_user_session_path %> </li>
						<li role="separator" class="divider"></li>
						<li> <%= link_to 'Create Account', new_user_registration_path %> </li>
					<% else %>
						<li> <%= link_to 'Edit Account', edit_user_registration_path %> </li>
						<li role="separator" class="divider"></li>
						<li> <%= link_to('Log Out', destroy_user_session_path, :method => :delete) %> </li>
					<% end %>
				</ul>
			</li>

			<li> <%= link_to '', new_message_path, :class => "glyphicon glyphicon-send" %> </li> 
		</ul>
	</div>
</nav>