<%= render 'layouts/navbar' %>

<div class="articles-center-column container-fluid">

	<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<%= yield :back_button %>
	<%= yield :plus_button %>

	<%= yield %>

	<hr>
	<%= render 'layouts/links' %>

</div>

</body>
</html>