<%= render 'layouts/navbar' %>

<%= yield :header_image %>

<% if controller_name == "sessions" or controller_name == "registrations" %>
	<div class="container" style="max-width: 700px;">
<% else %>
	<div class="container">
<% end %>

	<div class="page-actions">
		<%= yield :back_button %>
		<%= yield :plus_button %>
	</div>

	<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<%= yield %>

	<hr style="width: 100%;">

	<%= render 'layouts/links' %>

</div>

</body>
</html>
