<%= render 'layouts/navbar' %>

<div class="container" style="position: relative;">

	<%= yield :plus_button %>

	<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<%= yield %>

	<hr>
	<%= render 'layouts/links' %>

</div>

</body>
</html>